# Backend Configuration
LOG_LEVEL=INFO
UPDATE_INTERVAL=5
LOG_FILE_PATH=./nginx-logs/logs/access.log

# Frontend Configuration
VITE_BACKEND_URL=http://localhost:8000

# Nginx Configuration
NGINX_WORKER_CONNECTIONS=1024
NGINX_RATE_LIMIT=10r/s

# Docker Configuration
DOCKER_COMPOSE_PROJECT_NAME=autosre 